.classeLoader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 71px);
    width: 100%;
}

.imageLoading {
    height: 200px;
    width: auto;
}

.Space {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: black;
}

.MenuBro {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 175px;
    height: 100%;
    padding: 15px;
    align-items: center;
}

.vueChangeante {
    display: flex;
    flex: 3;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
}

.MenuBro a {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.MenuBro a:hover, .MenuBro a:active, .MenuBro a:focus {
    transition: all 0.2s ease-in-out;
    opacity: 50%;
}

.vueChangeante h3 {
    display: flex;
    min-height: 70px;
    width: 100%;
    background-color: black;
    margin: 0px;
    border-bottom: 1px solid white;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.whitelistGestion {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.messagerieGestion {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease-in-out;
    align-items: center;
    justify-content: center;
}

.salesGestion {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease-in-out;
    align-items: center;
    justify-content: center;
}

.graphiqueContainer {
    display: flex;
    flex: 3;
    width: 100%;
    background-color: blue;
}

.salesAmountContainer {
    display: flex;
    flex: 1;
    width: 100%;
    margin-bottom: 30px;
}

.divInSales {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    min-width: 152.08px;
}

.divInSales p {
    opacity: 50%;
    font-size: small;
}

#MiddleSales {
    margin: 0px 30px 0px 30px;
}