.Element {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Section Header */

.Header {
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    z-index: 10000;
    position: fixed;

    /* background: rgba( 255, 255, 255, 0.25 ); */
    box-shadow: 0 8px 32px 0 rgba(58, 58, 58, 0.493);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 0px 0px 10px 10px;
}

.firstSection {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
    margin-left: 7.5px;
}

.centerSection {
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: center;
}

.lastSection {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin-right: 7.5px;
}

.menuLink {
    color: white;
    background-color: #222222;
    font-family: System,monospace;
    font-size: 1em;
    justify-content: center;
    border: none;
    align-items: center;
    margin: 0px 15.5px 0px 15.5px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 8px 0 0 0 #222222, -8px 0 0 0 #222222, 0 -8px 0 0 #222222, 0 8px 0 0 #222222, 6px 4px 0 0 #222222, -6px 4px 0 0 #222222, 4px -6px 0 0 #222222, 4px 6px 0 0 #222222, 6px -4px 0 0 #222222, -6px -4px 0 0 #222222, -4px -6px 0 0 #222222, -4px 6px 0 0 #222222;
}

.menuLink:hover {
    transition: all 0.3s ease-in-out;
    opacity: 50%;
}

.menuLinkDisabled {
    color: white;
    background-color: #222222;
    font-family: System,monospace;
    font-size: 1em;
    justify-content: center;
    border: none;
    align-items: center;
    margin: 0px 15.5px 0px 15.5px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    cursor: not-allowed;
    opacity: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 8px 0 0 0 #222222, -8px 0 0 0 #222222, 0 -8px 0 0 #222222, 0 8px 0 0 #222222, 6px 4px 0 0 #222222, -6px 4px 0 0 #222222, 4px -6px 0 0 #222222, 4px 6px 0 0 #222222, 6px -4px 0 0 #222222, -6px -4px 0 0 #222222, -4px -6px 0 0 #222222, -4px 6px 0 0 #222222;
}

/* menu burger */

.hamburger {
    width: 2rem;
    height: 2rem;
    background-color: #222222;
    display: none;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 100000;
    align-items: center;
    cursor: pointer;

    margin: 17.5px 15.5px 7.5px 23px;
    transition: all 0.3s ease-in-out;
    box-shadow: 8px 0 0 0 #222222, -8px 0 0 0 #222222, 0 -8px 0 0 #222222, 0 8px 0 0 #222222, 6px 4px 0 0 #222222, -6px 4px 0 0 #222222, 4px -6px 0 0 #222222, 4px 6px 0 0 #222222, 6px -4px 0 0 #222222, -6px -4px 0 0 #222222, -4px -6px 0 0 #222222, -4px 6px 0 0 #222222;
}

.burger1, .burger2, .burger3 {
    width: 1.70rem;
    height: 0.125rem;
    background-color: white;
}

@media screen and (max-width: 500px){

    .hamburger {
        display: flex;
    }

    .Header {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0px;
        backdrop-filter: none;
        flex-direction: column;
        height: unset;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .centerSection {
        /* display: none; */
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 7.5px;
        transform: translateX(-200px);
        transition: all 0.5s ease-in-out;
    }

    .centerSection button{
        margin-top: 17.5px;
        margin-bottom: 7.5px;
    }

    .firstSection {
        flex: none;
        justify-content: flex-start;
        transform: translateX(-200px);
        transition: all 0.5s ease-in-out;
    }

    .firstSection .menuLink {
        margin-top: 17.5px;
        margin-bottom: 7.5px;
    }

    .lastSection {
        flex: none;
        justify-content: flex-start;
        margin-left: 7.5px;
        transform: translateX(-200px);
        transition: all 0.5s ease-in-out;
    }

    .lastSection .menuLink {
        margin-top: 17.5px;
        margin-bottom: 17.5px;
    }

}