@font-face {
    font-family: "Alagard";
    src:url("../public/fonts/alagard.ttf") format("truetype");
}

@font-face {
    font-family: "eightbitdragon";
    src:url("../public/fonts/SuperLegendBoy-4w8Y.ttf") format("truetype");
}

@font-face {
    font-family: "starttoplay";
    src:url("../public/fonts/PressStart2P-vaV7.ttf") format("truetype");
}

.Space {
    display: flex;
    height: 70px;
    width: 100%;
    /* background-color: #474b69; */
    background: rgb(79,81,112);
    background: linear-gradient(0deg, rgba(79,81,112,1) 0%, rgba(50,53,91,1) 50%, rgba(30,37,91,1) 100%);
}

/* First Section */

.FirstSection {
    display: flex;
    background-image: url('../public/images/15ede0ac-6283-49cc-827e-1495d1e34ee7.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    justify-content: center;
    font-family: 'Alagard';
}

.collectionTitle {
    font-size: 3em;
}

.MainTitle {
    margin-top: 150px;
    text-align: center;
}

.collectionLogos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.linkIcon {
    display: flex;
    overflow: hidden;
    margin: 0px 18px 0px 18px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    /* box-shadow: 4px 0 0 0 #222222, -4px 0 0 0 #222222, 0 -4px 0 0 #222222, 0 4px 0 0 #222222; */
}

.linkIcon:hover {
    transition: all 0.3s ease-in-out;
    opacity: 50%;
}

/* Second Section */

.SecondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('../public/images/groupebro.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
    font-family: 'eightbitdragon';
    font-size: 0.75em;
}

.annoncedemerde {

}

/* Third section bro */

.ThirdSection {
    padding: 30px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #424242;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.containerleft {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    left: 0;
}

.containerleft::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #424242;
  /* top: 15px; */
  top: 45%;
  border-radius: 50%;
  z-index: 1;
}

.containerright {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    left: 50%;
}

.containerright::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #424242;
  /* top: 15px; */
  top: 45%;
  border-radius: 50%;
  z-index: 1;
  left: -12px;
}

@media screen and (max-width: 600px) {

  .timeline::after {
  left: 31px;
  }

  .containerright, .containerleft {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  .containerleft::after, .containerright::after {
  left: 18px;
  }

  .containerright {
  left: 0%;
  }
  
}

.textBlur {
    padding: 30px;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    font-family: System,monospace;
    background-color: rgba(179, 179, 179, 0.25);
}

.roadmaptitre {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Alagard";
}

.roadmapParagraphe {
    font-family: System,monospace;
}

#summer2022 {
    background-image: url('../public/images/a-lRljfH5WY91x4rhXXr2Y8amg5SmyNfrEo7ZUk40iI.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#winter2022 {
    background-image: url('../public/images/Ipp25S-dDTBm8n7KnCByDJdyev56-HYAyM4m0wZ5wDM.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#summer2023 {
    background-image: url('../public/images/YTZaBoLx4NvZ9hXCPYZztgzSDxoZlm90bZNc9ahLtUY.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#winter2023 {
    background-image: url('../public/images/4419.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.beepbop {
    font-family: 'starttoplay';
    font-size: 0.65em;
}

/* Fourth Section Broskiiiiii */

.FourthSection {
    width: 100%;
    justify-content: center;
    align-items: center;

    background-image: url('../public/images/Ipp25S-dDTBm8n7KnCByDJdyev56-HYAyM4m0wZ5wDM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.mainpageAboutOrigin {
    display: flex;
    max-width: 1140px;
    width: 100%;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    /* border: 1px solid #222222; */
}

.mainpageAboutMechanics {
    display: flex;
    max-width: 1140px;
    width: 100%;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    /* border: 1px solid #222222; */
}

.AboutImage {
    display: flex;
    flex: 1;
    height: auto;
    width: 50%;
    border-radius: 10px;
}

.AboutText {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    padding: 30px;
    font-family: System,monospace;

    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    background-color: rgba(179, 179, 179, 0.25);
}

.aboutTitre {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    font-family: "Alagard";
    margin-top: 30px;
}

.backgroundAbout {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;

    /* background-image: url('../public/images/Ipp25S-dDTBm8n7KnCByDJdyev56-HYAyM4m0wZ5wDM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box; */
}

.texteAboutPadding {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.texteAboutPadding div {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px;
}

/* Section n°5 Menu Principal */

.FifthSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 30px;
    padding-bottom: 15px;
}

.roadmaptitreteam {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Alagard";
    padding-left: 30px;
    padding-right: 30px;
}

/* Faire un Hexagone :  */

.hexagone {
  position: relative;
  width: 173.20508px;
  visibility: hidden;
  overflow: hidden;
}

.hexagone::after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  display: block;
  margin-top: 28.86751%;
  padding-bottom: 86.602%;
}

.hexagonemain{
  display: block;
  position: absolute;
  width: 100%;
  padding-bottom: 115.47005%;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  z-index: 1;
}

.hexagonemainbefore{
  content: "";
  display: flex;
  justify-content: center;
  position: absolute;
  visibility: visible;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #cccccc;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hexagonecontent{
  overflow-y: auto;
  width: 100%;
  display: block;
  position: absolute;
  visibility: visible;
  bottom: 25%;
  top: 25%;
  left: 0;
  z-index: 3;
}

.imagesProfil{
    display: flex;
    width: 100%;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    min-width: 200px;
    border-radius: 10px;
}

/* Attaque des photos de profil etc... */

.profilesbro {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
}

.aboutMeBro {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-family: System,monospace;
    text-align: center;
}

.aboutMeBro h1 {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.25em;
}

.thisismyprofilebro {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    flex: 1;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #424242;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.thisismyprofilebro:hover {
    transition: all 0.3s ease-in-out;
    background-color: #242424;
}

@media screen and (max-width: 1180px){

    .profilesbro {
        flex-direction: column;
    }

    .thisismyprofilebro {
        flex-direction: row;
        max-width: none;
        border: none;
    }

    .thisismyprofilebro:hover {
        background-color: transparent;
        cursor: auto;
    }

    .aboutMeBro {
        /* flex-direction: row; */
        padding: 0px;
        text-align: right;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-left: 30px;
    }

    .aboutMeBro h1{
        text-align: unset;
        align-self: unset;
        justify-self: unset;
    }

    .imagesProfil {
        height: 100px;
        width: 100px;
        min-width: 100px;
    }

    .paragrapheDescription {
        display: none;
    }

}

@media screen and (max-width: 850px){

    .texteAboutPadding {
        flex-direction: column;
    }

    .mainpageAboutOrigin {
        margin: 0px;
        border-radius: 0px;
    }

    .backgroundAbout {
        padding: 0px;
        border-radius: 0px;
    }

    .AboutText {
        border-radius: 0px;
        text-align: center;
    }

}

@media screen and (max-width: 1350px){

    .SecondSection {
        display: none;
    }

}

@media screen and (max-width: 550px){

    .Space {
        display: none;
    }

}

/* Sixieme et derniere section bro */

.SixthFunction {

}