@font-face {
    font-family: "Alagard";
    src:url("../public/fonts/alagard.ttf") format("truetype");
}

@font-face {
    font-family: "eightbitdragon";
    src:url("../public/fonts/SuperLegendBoy-4w8Y.ttf") format("truetype");
}

@font-face {
    font-family: "starttoplay";
    src:url("../public/fonts/PressStart2P-vaV7.ttf") format("truetype");
}

@media screen and (max-width: 550px){

    .Space {
        display: none;
    }

}

.Space {
    display: flex;
    height: 70px;
    width: 100%;
}

.MintSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background-image: url("../public/images/Ipp25S-dDTBm8n7KnCByDJdyev56-HYAyM4m0wZ5wDM.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.MintWidget {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    font-family: System,monospace;
}

.ConnectedIsTrue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.theMintCounter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    max-width: 1140px;
}

.theMintCounter p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px 15px 30px;
    color: black;
    background-color: white;
    margin: 0px;
    flex: 1;
}

.theMintCounter p:first-child, .theMintCounter p:last-child {
    cursor: pointer;
    transition: all 0.2s ease;
}

.theMintCounter p:first-child {
    border-right: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}

.theMintCounter p:last-child {
    border-left: 1px solid black;
    border-radius: 0px 10px 10px 0px;
}

.theMintCounter p:first-child:hover, .theMintCounter p:last-child:hover, .mintbutton:hover {
    opacity: 50%;
    transition: all 0.2s ease;
}

.mintbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    width: 100%;
    max-width: 1140px;
    transition: all 0.2s ease;
}

.error {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 15px 30px 15px 30px;
    margin: 30px;
    border-radius: 10px;
}

.success {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 128, 0, 0.5);
    padding: 15px 30px 15px 30px;
    margin: 30px;
    border-radius: 10px;
}

.error img, .success img {
    display: flex;
    height: 1.25em;
    width: auto;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}