@font-face {
    font-family: "Alagard";
    src:url("../public/fonts/alagard.ttf") format("truetype");
}

@font-face {
    font-family: "eightbitdragon";
    src:url("../public/fonts/SuperLegendBoy-4w8Y.ttf") format("truetype");
}

@font-face {
    font-family: "starttoplay";
    src:url("../public/fonts/PressStart2P-vaV7.ttf") format("truetype");
}

.Space {
    display: flex;
    height: 70px;
    width: 100%;
}

@media screen and (max-width: 550px){

    .Space {
        display: none;
    }

}

.MintSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background-image: url("../public/images/15ede0ac-6283-49cc-827e-1495d1e34ee7.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}